<div
    data-ui-role="collapsible"
    data-ui-fragment="blocks.live.collapsible"
    data-ui-state="{{ collapsible_is_open ? 'open' : 'closed' }}"
    data-controller="ux-blocks-core--collapsible"
    data-ux-blocks-core--collapsible-open-value="{{ collapsible_is_open ? 'true' : 'false' }}"
    data-ux-blocks-core--collapsible-content-id-value="{{ collapsible_content_id }}"
    data-ux-blocks-core--collapsible-disabled-value="{{ collapsible_disabled ? 'true' : 'false' }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
